
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: kad;
        /* font-size: 20px; */
    }

    a {
        text-decoration: none;
        color: black;
    }

    li {
        font-size: 20px;
        list-style: none;
    }
    @font-face {
        font-family: play;
        src: url(../font/PlaywriteNO-ExtraLight.ttf);
    }
    @font-face {
        font-family: kad;
        src: url(../font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    }

    body {
        font-family: kad;
        min-height: 250vh;
        background: rgba(24, 95, 61, 0.793);
        text-transform: capitalize;
    }

    .top {
        width: 100%;
        min-height: 100vh;
        background-image: url(../img/m1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%  ;

        >.head {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 80px;

            >nav {
                justify-content: space-between;
                width: 90%;
                align-items: center;
                height: 100%;
                display: flex;

                >.box1 {
                    color: rgb(0, 108, 16);
                    font-size: 24px;
                    width: 10%;
                    height: 100%;
                    font-family: play;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-weight: bold;
                    text-align: center;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: 0.4s;

                    &:hover {
                        transform-origin: top;
                        transform: rotateX(90deg);
                    }

                    >span {
                        position: absolute;
                        width: 250px;
                        right: 0px;

                        &:nth-of-type(2) {
                            transform-origin: top;
                            transform: translateZ(20px);
                            transform: rotateX(-90deg);
                        }
                    }
                }

                >ul {
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    gap: 20px;

                    >.drop {
                        transition: 0.3s;
                        width: 100px;
                        text-align: center;
                        /* border: 1px solid red; */
                        position: relative;

                        &:hover {
                            background-color: rgb(25, 34, 0);
                            border-radius: 4px;
                            scale: 1.1;
                            color: rgb(255, 255, 255);

                            >ul {
                                display: block;
                            }
                        }

                        >ul {
                            position: absolute;
                            top: 40px;
                            left: 0px;
                            width: 200px;
                            background-color: lightgreen;
                            border-radius: 5px;
                            display: none;

                            >li {
                                margin-top: 10px;
                                width: 100%;
                                transition: 0.6s;

                                &:hover {
                                    background-color: rgb(1, 95, 9);

                                    >a {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        justify-content: flex-end;
                       a{
                        transition: 0.4s;
                        
                      
                           
                        
                       } 
                    }

                    >li {
                        color: rgb(157, 255, 157);
                        font-weight: bold;
                        width: 50px;
                        height: 50px;
                        
                    }
                }
            }
        }
    }

    .anime1 {
        display: flex;
        font-family: kad;
        text-transform: capitalize;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        gap: 20px;
        font-family: kad;
        color: white;
        font-size: 50px;
        text-align: center;

        >p {
            color: rgba(255, 255, 255, 0.63);
        }

        >h1 {
            animation-name: anime;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
        }
    }

    @keyframes anime {
        0% {
            background-image: linear-gradient(270deg, #ff0057, #0099ff, #00ff6a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        33% {
            background-image: linear-gradient(270deg, #0099ff, #00ff6a, #ffcc00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        66% {
            background-image: linear-gradient(270deg, #00ff6a, #ffcc00, #ff0057);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        100% {
            background-image: linear-gradient(270deg, #ffcc00, #ff0057, #0099ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .main {
        width: 100%;
        min-height: 700px;
        background-color: beige;
        position: relative;

        >.title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: lightgreen;
            border-radius: 10px;
            z-index: 1;
        }

        >.box2 {
            height: 650px;
            border-bottom: 3px solid white;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            background-color: #10b4625d;
            position: absolute;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &:hover {
                .cube {
                    transform: rotateY(720deg);
                }
            }

            >.txt {
                margin-top: 10px;
                width: 600px;
                height: 550px;
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: center;

                >p {
                    margin: 3px;
                }
            }



            >h1 {
                display: inline;
                text-align: center;
                width: 100%;
                font-size: 60px;
                height: 60px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }

            .cube {
                margin: 30px;
                display: flex;
                width: 400px;
                height: 400px;
                position: relative;
                transition: 20s;
                transition-timing-function: linear;
                transform-style: preserve-3d;
               



                >div {
                    border-radius: 10px;
                    /* border: 1px solid black; */
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform-style: preserve-3d;

                    &:nth-of-type(1) {
                        background-image: url(../img/11.png);
                        object-fit: cover;
                        background-size: cover;
                        transform: translateZ(200px);
                    }

                    &:nth-of-type(2) {
                        background-image: url(../img/12.png);
                        object-fit: cover;
                        background-size: cover;
                        transform: translateZ(-200px);
                    }

                    &:nth-of-type(3) {
                        background-image: url(../img/13.png);
                        transform-origin: right;
                        background-size: cover;
                        transform-origin: left;
                        transform: translateZ(-200px) rotateY(-90deg);
                    }

                    &:nth-of-type(4) {
                        background-image: url(../img/14.png);
                        object-fit: cover;
                        background-size: cover;
                        transform-origin: right;
                        transform: translateZ(-200px) rotateY(90deg);
                    }

                }

            }

        }

        /* @keyframes cubee {
            0% {
               transform: rotateY(0deg) rotateX(0deg);
            }


            100% {
                transform: rotateY(360deg) rotateX(360deg);
            }

        } */


        >.flex {
            height: 700px;
            border-top: 3px solid white;
            width: 100%;
            background-image: url(../img/m1.jpg);
            transform: rotate(180deg);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(white 20%, transparent 90%);

            }

        }
    }

    .third {
        width: 100%;
        min-height: 650px;
        background: #fafeff;
        background: linear-gradient(182deg, rgba(250, 254, 255, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(198, 230, 133, 1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;

        >.sugg {
            width: 90%;
            height: 600px;
            border-radius: 20px;
            background-color: #e3ebe75d;
            * {
                font-size: 20px;
            }


            >.imag {
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                >.pc1 {
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
                    width: 45%;
                    height: 100%;
                    position: relative;
                    border-radius: 15px;
                    top: 0;
                    left: 0;

                    &:hover {
                        &::before {
                            left: 0;
                            visibility: visible;

                        }

                        &::after {
                            top: 310px;
                        }
                    }

                    &::after {
                        content: '2. Cleaning Up Litter';
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        width: 100%;
                        height: 40px;
                        top: 350px;
                        transition: 0.4s;
                        left: 0%;
                        background-color: rgba(80, 190, 122, 0.3);
                        border-radius: 15px;

                    }

                    &::before {
                        content: ' Participating in a cleanup drive, whether on a beach or in a local park, prevents plastic and other waste from polluting our ecosystems and harming animals. It also helps keep our natural spaces beautiful.';
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        height: 110px;
                        background-color: rgba(80, 190, 122, 0.3);
                        border-radius: 15px;
                        top: 370px;
                        left: -1000px;
                        transition: 1s;
                        visibility: hidden;

                    }

                    >img {
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                    }




                }

                >.pc2 {
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
                    width: 45%;
                    height: 100%;
                    position: relative;
                    border-radius: 15px;
                    top: 0;
                    left: 0;

                    &:hover {
                        &::before {
                            left: 0;
                            visibility: visible;
                            display: flex;

                        }

                        &::after {
                            top: 310px;
                        }
                    }

                    &::after {
                        content: '1. Planting Trees';
                        position: absolute;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        height: 40px;
                        top: 350px;
                        transition: 0.4s;
                        left: 0%;
                        background-color: rgba(80, 190, 122, 0.3);
                        border-radius: 15px;

                    }

                    &::before {
                        content: 'Planting a tree is a simple yet powerful way to help the environment. Trees absorb harmful carbon dioxide from the air, release oxygen, and provide a habitat for wildlife.';
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        width: 100%;
                        height: 110px;
                        background-color: rgba(80, 190, 122, 0.3);
                        border-radius: 15px;
                        top: 370px;
                        left: -1000px;
                        transition: 1s;
                        visibility: hidden;
                        /* display: none; */


                    }

                    >img {
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                    }




                }

            }

            >h1 {
                width: 100%;
                height: 60px;
                text-align: center;
                font-size: 40px;
                margin: 5px 0;
                text-shadow: 2px 1px 4px #7dd750;
                display: block;

            }
        }
    }

    .footer {
        width: 100%;
        height: 500px;
        background-color: rgb(24, 95, 61);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        color: white;

        >.logo {
            width: 150px;
            height: 156px;
            transform-style: preserve-3d;


            >img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                animation-name: footer;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                transform-style: preserve-3d;
                &:hover {
                    animation-play-state: paused;
                }
            }
        }

        >.link {
            width: 50%;
            display: flex;
            justify-content: center;

            >ul {
                display: flex;
                gap: 20px;

                >li {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    justify-content: center;
                    width: 100px;
                    /* border: 1px solid white; */

                    >a {
                        transition: 0.4s;
                        color: #ffffff;
                        /* font-size: 20px; */
                        &:hover{
                            cursor: pointer;
                            scale: 1.3;
                        }
                    }
                }
            }
        }


    }

    @keyframes footer {




        0% {
            border-radius: 107px 108px 42px 41px;
            -webkit-border-radius: 107px 108px 42px 41px;
            -moz-border-radius: 107px 108px 42px 41px;
            box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
            -webkit-box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
            -moz-box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
        }

        50% {
            border-radius: 94px 144px 134px 138px;
            -webkit-border-radius: 94px 144px 134px 138px;
            -moz-border-radius: 94px 144px 134px 138px;
            box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
            -webkit-box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
            -moz-box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
        }

        100% {
            border-radius: 141px 104px 130px 138px;
            -webkit-border-radius: 141px 104px 130px 138px;
            -moz-border-radius: 141px 104px 130px 138px;
            box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
            -webkit-box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
            -moz-box-shadow: 37px 42px 42px -3px rgba(0, 0, 0, 0.63);
        }
    }
